:root {
  --purple: #ad1fea;
  --dark-blue: #4661e6;
  --darker-blue: hsl(230, 31%, 31%);
  --white: #fff;
  --grey: #f2f4ff;
  --light-grey: #f7f8fd;
  --even-darker-blue: hsl(231, 33%, 34%);
  --dark-grey: #647196;
  --orange: #f49f85;
  --sky-blue: #62bcfa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
}

button {
  padding: 10px 15px;
  font-weight: 600;
  cursor: pointer;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  background-color: var(--light-grey);
}

.control {
  width: 500px;
}

.main {
  width: 900px;
}
